#nav-brand{
	font-family: 'Bangers', cursive;
	font-size: 30px;
}
#nav-button{
	
}
#nav-division{
	
}
#button-signin{
	font-weight: bold;
	font-family: 'Bangers', cursive;
}
#button-signup{
	margin-left: 3px;
	font-weight: bold;
	font-family: 'Bangers', cursive;
}

.stick-bottom{
	
    width:100%;
   	margin-bottom: 0px;
}
#games-content{
	margin-top: 100px;
}
#row-content{
	vertical-align: middle;
	font-family: 'Bangers', cursive;
	font-size: 20px;
}
.footer-icon{
	padding-left: 100px;
}
.img-wrapper{
	margin-left: auto ;
 	margin-right: auto ;
}
.game-wrapper{
	max-width: 220px ;
	height:236px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: relative;
}
.name-wrapper{
	font-family: Bangers;
	vertical-align: middle;
	font-size: 20px;
	margin: 0 auto; 
	text-align: center;
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}	

#os-wrapperr{
	position: absolute;
	left:15px;
	bottom:25px;
}
#storage-wrapperr{
position: absolute;right:15px;bottom:10px;

td{
	position: relative;
}
.title-wrapper{
	margin-top: 100px;
}
.title{
	font-family: Bangers;
	font-size: 50px;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}
.first-column{
	width: 65%;
	float:left;
}
.second-column{
	width: 35%;
	float: right;
}
#download{
	margin-top: 30px;
	width: 400;
	height: 135;
	position: relative;
	padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}

#content {
	min-height: 510px;
}

#showAvatar {
	margin-top: 5px;
}

#fileList ul{
    list-style-type: none;
}

#fileList ul > li {
    display: inline;
    margin: 10px 10px;
}

#fileList ul > li:hover {
    opacity: .5;
    transition: all .5s ;
}